spring:
    datasource:
        driver-class-name: org.h2.Driver
        url: jdbc:h2:mem:sample;MODE=MySQL;DB_CLOSE_ON_EXIT=TRUE;TRACE_LEVEL_SYSTEM_OUT=1;INIT=RUNSCRIPT from 'classpath:sql/db_init.h2.sql'
        #url: jdbc:h2:mem:sample;DB_CLOSE_ON_EXIT=TRUE;MODE=MySQL;INIT=RUNSCRIPT from 'classpath:sql/db_init.h2.sql'
        username: dbuser
        password: dbuser
        max-wait: 1000
        max-active: 50
        #test-on-borrow: true
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        database: H2
        


